Checks: >
  -*,
  clang-diagnostic-*,
  llvm-*,
  -llvm-header-guard,
  misc-*,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,
